/* Here comes your own styling */

span.underline {
    text-decoration: underline;
    text-decoration-color: #f04c23;
    text-decoration-thickness: 3px;
}

p.hthree {
    box-sizing: border-box;
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    margin-block-end: 20px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    text-size-adjust: 100%;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}